:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #e4ddd6;
  max-width: 100vw;
  overflow-x: hidden;
}

.tiptap ul {
  list-style-position: outside;
  padding-left: 20px;
}

.tiptap ol {
  padding-left: 20px;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}
